{% extends "base.html" %}

{% block content %}

<div class="brands">
    <h2>Бренды</h2>
    <ul>
        {% for brand in brands %}
        <li><a href="{{request.path}}{{brand.pk}}/">{{brand.name}}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="products">
    <h2>Товары</h2>
    <div class="custom-block">
        {% for product in products %}
        <div class="product-block" style="border: 2px black solid;">
            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" style='width: 100px; height: 100px; object-fit: cover;'>
            <div class="product-details">
                <button class="button-cart" id="add_to_cart_{{product.pk}}"> +ADD</button>
                <br><br><br><br>
                <a href="{% url 'product_detail' pid=product.pk %}"><p>{{ product.name }}</p></a>
                <p>${{ product.calculate_price }}</p>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>
{{ user.pk|json_script:"user_id" }}
<script src="/static/scripts/sub_category.js"></script>
{% endblock content %}